#bg {
    background: linear-gradient( to bottom right, #cff4fc, #0d6efd);
}

.form-group .input-group .input[type="text"]:focus {
    border: none !important;
    outline: none !important;
}

.card{
    border: 3px solid #0d6efd;
    border-radius: 0rem;
    padding: 2em;
}